<div class="row">
  <div class="col-sm-4"><br/>
  <div class="row no-gutters">
    <div class="col"><%= image_tag(@user.photo.url, alt: 'Image', size: "75x75",class:"rounded mx-left d-block") if @user.photo? %></div>
    <div class="col col-auto"><h2><%= link_to @user.email, edit_user_registration_path %></h2></div>
  </div>
  <br/>
    <%= link_to 'Add photo',  add_photo_path, class: "btn btn-primary" %>
    <br/>
    <%= render 'layouts/stats' %>
    <%= render 'users/follow_form' %>
    <hr class="my-4" />
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
     
  </div>
  <div class="col-sm-8"><br/>
    <div class="d-flex" style="height: 100%;">
  <div class="vr"></div>

    <%= render 'posts', title: 'Posts', feed: @feed_items %>

    </div>
</div>