
<nav class="navbar bg-light" >
  <div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to "Instagram", root_path, class:"navbar-brand" %>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <% if user_signed_in? %>
      
        <%= link_to "Users", users_path, class:"btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-outline-success my-2 my-sm-0" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to "Sign up",  new_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </form>
  </div>
</nav>



